@font-face {
    font-family: ChampagneBold;
    src: url(../fonts/ChampagneBold.ttf);
}

@font-face {
    font-family: ChampagneLimousines;
    src: url(../fonts/ChampagneLimousines.ttf);
}

@font-face {
    font-family: GenericaBold;
    src: url(../fonts/GenericaBold.otf);
}

@font-face {
    font-family: Generica;
    src: url(../fonts/Generica.otf);
}